<div class="selected-directories">
  <i class="fa fa-folder-open" aria-hidden="true" (click)="toggleDirectorySelector()"></i>
  <div class="directory" *ngFor="let directoryModel of logModel.parentLogModels; let i = index">
    {{directoryModel.metadata.name}}
    <i class="fa fa-times" aria-hidden="true" (click)="onParentLogModelUnSelect(i)"></i>
  </div>
</div>
<div *ngIf="showSelector" class="directory-select-container">
  <div class="directory-select-container-close">
    <div></div>
    <i class="fa fa-times" aria-hidden="true" (click)="closeDirectorySelector()"></i>
  </div>
  <div class="directory-select-container-content">
    <app-directory-selector-column-container (logModelSelectedAgain)="addSelectedParentLogModel($event)">
    </app-directory-selector-column-container>
  </div>
</div>



