<div class="vc_container_container">
  <div class="vc_container">
    <div class="content">
      <div class="meta_data">
        <div>Title: {{title}}</div>
        <div>Description: {{description}}</div>
        <div>Created: {{createdDateString}}</div>
        <div>Updated: {{lastUpdatedDateString}}</div>
        <div>Tags:
          <a class="tag-or-directory" *ngFor="let model of tagFileModels" (click)="viewTagInContent(model.id)">
            {{model.metadata.name}}
          </a>
        </div>
        <div>Directories:
          <a class="tag-or-directory" *ngFor="let model of logDirectoryFileModels"
             (click)="viewDirectoryInContent(model.id)">
            {{model.metadata.name}}
          </a>
        </div>
      </div>
      <div #vc></div>
    </div>
    <div class="comment">
      <disqus [identifier]="id"></disqus>
    </div>
  </div>
</div>
