/* center vc_container horizontally */
.vc_container_container {
  width: 100%;
}

.vc_container {
  display: table;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.meta_data {
  color: var(--text-color);
}

.tag-or-directory {
  padding-left: 2px;
  padding-right: 2px;
  background-color: var(--main-darker-2-color);
  border-radius: 2px;
  color: var(--text-light-4-color);
}

.tag-or-directory:hover {
  background-color: var(--main-darker-3-color);
}

/*@media only screen and (max-width: 800px) {*/
/*.vc_container {*/
/*width: 100%;*/
/*}*/
/*}*/

/*@media (min-width: 800px) {*/
/*.vc_container {*/
/*width: 800px;*/
/*}*/
/*}*/

.comment {
  margin-top: 50px;
}
