/* center vc_container horizontally */
.vc_container_container {
  width: 100%;
}

.vc_container {
  display: table;
  margin: 0 auto;
}

.meta_data {
  color: var(--text-color);
}

@media only screen and (max-width: 800px) {
  .vc_container {
    width: 100vw;
  }
}

@media (min-width: 800px) {
  .vc_container {
    width: 800px;
  }
}

.comment {
  margin-top: 50px;
}
