<div class="container">
  <div class="label">TAG</div>
  <div class="selected-tags">
    <div class="tag no_selection" *ngFor="let selectedTagModel of data.tagFileDatas; let i = index"
         (click)="onTagModelUnSelect(i)">
      {{selectedTagModel.metadata.name}}
    </div>
    <i class="fa fa-plus" aria-hidden="true" *ngIf="!showTagSelector" (click)="openTagSelector()"></i>
  </div>
  <div *ngIf="showTagSelector" class="tag-select-container">
    <app-tag-creator-and-selector (tagModelSelected)="onTagModelSelected($event)"
                                  (closeComponent)="closeTagSelector()"
                                  [hideTagModelIDs]="data.organization.tagFileIDs"></app-tag-creator-and-selector>
  </div>
</div>
