.container {
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
}

.quote {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.source-name {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

