.toolbar {
  color: var(--main-darker-2-color);
  display: grid;
  grid-template-columns: auto 40px 15px;
  align-items: center;
  text-align: center;
}

.new:hover {
  cursor: pointer;
}

.fa-times:hover {
  cursor: pointer;
  color: var(--main-darker-3-color);
}
