<figure>
  <!-- https://github.com/google/code-prettify -->
  <!-- prettyprint - tells google's prettyprint to prettify it, when done it would append class prettified -->
  <!-- linenums - tells google's prettify which line number to start -->
  <!-- lang-{{language}} - tells google prettyprint which style to syntax highlight, if not found it will guess -->
  <!-- passing json string instead of object so pipe will pick up changes within object -->
  <pre><code [innerHtml]="JSON.stringify(data) | code"></code></pre>
  <figcaption></figcaption>
</figure>

