<figure>
  <!-- https://github.com/google/code-prettify -->
  <!-- prettyprint - tells google's prettyprint to prettify it, when done it would append class prettified -->
  <!-- linenums - tells google's prettify which line number to start -->
  <!-- lang-{{language}} - tells google prettyprint which style to syntax highlight, if not found it will guess -->
  <pre class="prettyprint {{startingLineNumber}} lang-{{language}}" [ngStyle]="{'max-height': maxHeight}"><code>{{code}}</code></pre>
  <figcaption></figcaption>
</figure>

