.grid-container {
  z-index: 1;
  width: 100%;
  position: fixed;
  pointer-events: none;

  height: 50px;
  display: grid;
  grid-template-columns: 50px 50px auto;
  grid-gap: 5px;
  padding: 5px;
}

.grid-item {
}

.gap {
  padding-top: 60px;
  z-index: 0;
}
