<app-log-selector-column-toolbar *ngIf="showColumnToolbar"
                                 [logModel]="parentLogModel"></app-log-selector-column-toolbar>
<div class="column-container" (scroll)="onScroll()">
  <div *ngIf="isEmpty && isEmpty; else templateName">
    <div class="empty">
      EMPTY
    </div>
  </div>
  <ng-template #templateName>
    <div *ngFor="let logModel of childLogModels, let i = index;">
      <div *ngIf="logModelIDsToHide.indexOf(logModel.id) === -1">
        <div class="item"
             [ngClass]="{'item-path': logModel.id === logPathID, 'item-selected': logModel.id === selectedLogModelID}">
          <div class="log-container" (click)="selectLogModel(i)">
            <div class="item-name">{{logModel.metadata.name}}</div>
            <i class="fa fa-play"></i>
          </div>
        </div>
      </div>
    </div>
    <div #bottom class="bottom"></div>
  </ng-template>
</div>
