.column-container {
  height: 100%;
  overflow: scroll;
}

app-log-selector-column-toolbar {
  width: 100%;
  overflow: hidden;
}

.empty {
  text-align: center;
  color: var(--text-light-3-color);
}

.item {
  max-width: 100%;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  color: var(--main-darker-2-color);
}

.item:hover {
  color: var(--main-lighter-color);
  background-color: var(--main-darker-color);
}

.item-path {
  background-color: var(--main-darker-color);
}

.item-selected {
  color: var(--main-lighter-color);
  background-color: var(--selected-color);
}

.item-selected:hover {
  color: var(--main-color);
  background-color: var(--selected-color);
}

.log-container {
  display: grid;
  grid-template-columns: auto 15px;
}

.item-name {
  padding-left: 3px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bottom {
  height: 70px;
}

.fa-play {
  font-size: 10px;
  align-self: center;
}
