div {
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
  max-height: 100px;
  background-color: white;
  text-overflow: ellipsis;
  white-space: pre-line; /* value `pre` does not wrap, luckily pre-line does */
}
