.meta-data-container {
  color: var(--text-light-2-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.views-created-updated {
  font-size: 13px;
  margin-bottom: 10px;
}

.border-left {
  border-left: 1px solid;
  padding-left: 13px;
  margin-left: 10px;
}

.name {
  color: var(--main-darker-3-color);
  font: 400 60px/1.12em "maiola", serif;
}

.description {
  color: var(--main-darker-3-color);
  font-size: 20px;
  margin-bottom: 20px;
}

.directory-container {
  margin-bottom: 20px;
}

.tag-or-directory {
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.tag-or-directory:hover {
  text-decoration: underline;
}

.current-directory {
  color: var(--main-darker-color);
}
