<app-navigation-side-left-column-toolbar *ngIf="showColumnToolbar"
                                         [logDirectoryFileModel]="logDirectoryFileModel"></app-navigation-side-left-column-toolbar>
<div class="column-container" (scroll)="onScroll()">
  <div *ngIf="isEmpty && isEmpty; else templateName">
    <div class="empty">
      EMPTY
    </div>
  </div>
  <ng-template #templateName>
    <div *ngFor="let fileModel of fileModels, let i = index;">
      <div *ngIf="fileModel.metadata.type === 'LogDirectoryFileData'">
        <div class="item directory-icon-container" (click)="selectChildDirectory(i)">
          <i class="fa fa-folder"></i>
          <div class="item-name">{{fileModel.metadata.name}}</div>
          <i class="fa fa-play"></i>
        </div>
      </div>
      <div *ngIf="fileModel.metadata.type === 'LogFileData'">
        <div class="item log" (click)="selectLog(fileModel.id)">
          <i class="fa fa-file-o"></i>
          <div class="item-name">{{fileModel.metadata.name}}</div>
        </div>
      </div>
      <div *ngIf="fileModel.metadata.type === 'TagFileData'">
        <div class="item tag" (click)="selectLog(fileModel.id)">
          <i class="fa fa-tags" aria-hidden="true"></i>
          <div class="item-name">{{fileModel.metadata.name}}</div>
        </div>
      </div>
    </div>
    <div #bottom class="bottom"></div>
  </ng-template>
</div>
