.column-container {
  height: 100%;
  overflow: scroll;
}

app-navigation-side-left-column-toolbar {
  width: 100%;
  overflow: hidden;
}

.empty {
  text-align: center;
  color: var(--text-light-3-color);
}

.item {
  max-width: 100%;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  color: var(--main-darker-2-color);
}

.item:hover {
  color: var(--main-lighter-color);
  background-color: var(--main-darker-color);
}

.directory-icon-container {
  display: grid;
  grid-template-columns: 25px auto 25px;
}

.item-name {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.log {
  display: grid;
  grid-template-columns: 25px auto;
}

.tag {
  display: grid;
  grid-template-columns: 25px auto;
}

.fa {
  text-align: center;
  align-self: center;
}

.fa:hover {
  color: var(--main-darker-2-color);
}

.fa-folder {
  font-size: 15px;
  color: var(--main-darker-color);
  /* text font border */
  -webkit-text-fill-color: var(--main-darker-color); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-darker-2-color);
}

.fa-play {
  font-size: 10px;
}

.fa-file-o {
  font-size: 12px;
}

.fa-tags {
  font-size: 12px;
}

.bottom {
  height: 70px;
}
