<div class="toolbar-container">
  <app-navigation-side-left-toolbar></app-navigation-side-left-toolbar>
</div>
<section class="container">
  <app-navigation-side-left-column-container [fileTypes]="fileTypes"
                                             [showColumnToolbar]="showColumnToolbar"
                                             (logFileModelSelected)="onLogFileModelSelected($event)"
                                             (directoryFileModelSelectedMoreThanOnce)="onDirectoryFileModelSelectedMoreThanOnce($event)"></app-navigation-side-left-column-container>
</section>
