<div class="toolbar-container">
  <app-navigation-side-left-toolbar (onCloseNavigationSideLeft)="closeNavigationSideLeft($event)"
                                    (onTarget)="target($event)"></app-navigation-side-left-toolbar>
</div>
<section class="container">
  <div class="column" *ngFor="let logDirectoryFileModel of pathLogDirectoryFileModels, let i = index">
    <app-navigation-side-left-directory [level]="i" [logDirectoryFileModel]="logDirectoryFileModel"
                                        (childDirectorySelected)="directorySelected($event)"></app-navigation-side-left-directory>
  </div>
</section>
