<div class="toolbar-container">
  <app-navigation-side-left-toolbar></app-navigation-side-left-toolbar>
</div>
<section class="container">
  <app-directory-selector-column-container [fileTypes]="fileTypes"
                                           [showColumnToolbar]="showColumnToolbar"
                                           (logFileModelSelected)="onLogFileModelSelected($event)"
                                           (directoryFileModelSelectedMoreThanOnce)="onDirectoryFileModelSelectedMoreThanOnce($event)"></app-directory-selector-column-container>
</section>
