.container {
  padding: 3px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 20px;
}

.css-key-value {
  display: grid;
  grid-template-columns: auto auto 20px;
}

.delete {
  text-align: center;
  align-self: center;
}

.delete:hover {
  cursor: pointer;
  color: var(--main-darker-3-color);
}

.add {
  text-align: center;
}

.add:hover {
  cursor: pointer;
  color: var(--main-darker-3-color);
}
