.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.workspace {
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* places border inside box */
  border-right: 1px solid var(--main-darker-color);
  overflow: scroll;
}

.textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  overflow: scroll;
  resize: none;
  padding: 5px;
  box-sizing: border-box;
}

.result {
  overflow: scroll;
}
