<div class="container">
  <div class="workspace">
    <button (click)="consoleFileModelJSON()">Console.log FileModel JSON</button>
    <app-file-create-metadata [metadata]="fileModel.metadata"
                              (updateFileModel)="updateFileModel()"></app-file-create-metadata>
    <app-file-create-data [data]="fileModel.data" (updateFileModel)="updateFileModel()"></app-file-create-data>
  </div>
  <div class="result">
    <app-file-page [fileModel]="fileModel"></app-file-page>
  </div>
</div>
