.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.workspace {
  box-sizing: border-box; /* places border inside box */
  border-right: 1px solid var(--main-darker-color);
  overflow: scroll;
  padding-bottom: 100px;
}

.print-raw {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.result {
  overflow: scroll;
}

.metadata {
  margin-bottom: 10px;
}
