#navigation-top {
  height: 100%;
  width: 100%;
  background-color: var(--main-darker-3-color);
  display: grid;
  grid-template-columns: 50px 50px auto 50px;
}

.link-home {
  font-size: 30px;
  text-decoration: none;
}

.link {
  text-align: center;
  align-self: center;
  color: var(--main-color);
}

.link:hover {
  color: var(--main-darker-2-color);
}

.fa-search {
  font-size: 20px;
}

.fa-cog {
  font-size: 25px;
}
