#navigation-top {
  padding-left: 10px;
  height: 100%;
  width: 100%;
  background-color: var(--main-darker-3-color);
  display: flex;
  align-items: center;
}

.migration-message {
  padding-left: 50px;
  color: var(--main-lighter-color);
}

/* unvisited link */
.migration-link:link {
  color: rgb(255, 165, 0);
}

/* visited link */
.migration-link:visited {
  color: rgb(255, 165, 0);
}

/* mouse over link */
.migration-link:hover {
  color: rgb(188, 122, 1);
}

/* selected link */
.migration-link:active {
  color: rgb(188, 122, 1);
}

.link {
  text-align: center;
  align-self: center;
  color: var(--main-color);
  overflow: hidden;
}

.link:hover {
  color: var(--main-darker-2-color);
}

.link-home {
  font-size: 25px;
  font-style: normal;
}

.fa-search {
  margin-left: 15px;
  font-size: 15px;
}
