#navigation-top {
  height: 100%;
  width: 100%;
  background-color: var(--main-darker-3-color);
  display: grid;
  grid-template-columns: 50px auto 50px;
}

.link {
  text-align: center;
  align-self: center;
  color: var(--main-color);
  overflow: hidden;
}

.link:hover {
  color: var(--main-darker-2-color);
}

.home-search {
  display: flex;
  align-items: center;
}

.link-home {
  font-size: 30px;
  font-style: normal;
}

.fa-bars {
  font-size: 20px;
}

.fa-search {
  margin-left: 15px;
  font-size: 20px;
}

.fa-cog {
  font-size: 25px;
}
