<div class="vc_container_container">
  <div class="vc_container">
    <div class="content">
      <div class="content-header">
        <app-file-page-content-header [fileModel]="_fileModel"></app-file-page-content-header>
      </div>
      <app-log-data-type *ngFor="let logData of logDatas" [logData]="logData"></app-log-data-type>
    </div>
    <div *ngIf="_fileModel.metadata.displayCommentSection; else commentsDisabled" class="comment">
      <disqus [identifier]="id"></disqus>
    </div>
    <ng-template #commentsDisabled>
      <div class="comments-disabled">COMMENTS DISABLED</div>
    </ng-template>
  </div>
</div>
