@media only screen and (max-width: 500px) {
  .masonry-item,
  .masonry-item-sizer {
    width: 100%;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .masonry-item,
  .masonry-item-sizer {
    width: calc(50% - 3px);
  }
}

@media (min-width: 900px) and (max-width: 1300px) {
  .masonry-item,
  .masonry-item-sizer {
    width: calc(33.333333333333333% - 4px);
  }
}

@media (min-width: 1300px) {
  .masonry-item,
  .masonry-item-sizer {
    width: calc(25% - 4.5px);
  }
}

.masonry {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.masonry-item {
  margin-bottom: 6px;
}

.end {
  width: 100%;
  text-align: center;
  font-size: 100px;
  align-self: center;
  color: var(--main-darker-color);
}

.spinner-container {
  width: 100px;
  margin: 0 auto;
}

.fa-spinner {
  font-size: 100px;
  border-radius: 50px;
  color: var(--main-darker-color);
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
