@media only screen and (max-width: 750px) {
  .masonry-item,
  .masonry-item-sizer {
    width: 100%;
  }
}

@media (min-width: 750px) and (max-width: 1250px) {
  .masonry-item,
  .masonry-item-sizer {
    width: calc(50% - 6px);
  }
}

@media (min-width: 1250px) and (max-width: 1750px) {
  .masonry-item,
  .masonry-item-sizer {
    width: calc(33.333333333333333% - 8px);
  }
}

@media (min-width: 1750px) {
  .masonry-item,
  .masonry-item-sizer {
    width: calc(25% - 9px);
  }
}

.masonry {
  width: calc(100% - 24px);
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
}

.masonry-item {
  margin-bottom: 12px;
}

.end {
  width: 100%;
  text-align: center;
  font-size: 100px;
  align-self: center;
  color: var(--main-darker-color);
}

.spinner-container {
  width: 100px;
  margin: 0 auto;
}

.fa-spinner {
  font-size: 100px;
  border-radius: 50px;
  color: var(--main-darker-color);
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
