div {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

div img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
