<div class="container">
  <select #lang [(ngModel)]="textCodeLogData.language">
    <option value="">unknown</option>
    <option value="bsh">Bash</option>
    <option value="c">C</option>
    <option value="cc">CC</option>
    <option value="cpp">C++</option>
    <option value="cs">C#</option>
    <option value="csh">C shell</option>
    <option value="cyc">CYC</option>
    <option value="cv">CV</option>
    <option value="htm">HTM</option>
    <option value="html">HTML</option>
    <option value="java">Java</option>
    <option value="js">Javascript</option>
    <option value="m">M</option>
    <option value="mxml">mXML</option>
    <option value="perl">Perl</option>
    <option value="pl">PL</option>
    <option value="pm">PM</option>
    <option value="py">Python</option>
    <option value="rb">Ruby</option>
    <option value="sh">Shell</option>
    <option value="xhtml">xHTML</option>
    <option value="xml">XML</option>
    <option value="xsl">XSL</option>
  </select>
  <input #lineNumbers type="checkbox" [(ngModel)]="textCodeLogData.showLineNumber"> show line numbers<br>
  <textarea #text class="workspace-textarea" [(ngModel)]="textCodeLogData.code"></textarea>
</div>
