<div class="container">
  <div class="column" *ngFor="let logDirectoryFileModel of pathLogDirectoryFileModels, let i = index">
    <app-navigation-side-left-column [directoryLevel]="i"
                                     [pathLogDirectoryFileModels]="pathLogDirectoryFileModels"
                                     [selectedFileModelID]="selectedFileModelID"
                                     [logDirectoryFileModel]="logDirectoryFileModel"
                                     [fileTypes]="fileTypes"
                                     [showColumnToolbar]="showColumnToolbar"
                                     (fileModelSelected)="onSelectedFileModel($event)"></app-navigation-side-left-column>
  </div>
</div>
