.container {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

.left {
  text-align: right;
  margin-right: 2px;
}

.right {
  margin-left: 2px;
}

.input-description {
  width: 100%;
  box-sizing: border-box;
}
