#navigation-side-left-toolbar {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--main-darker-color);
  color: var(--text-color);
  text-align: center;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: auto 30px 30px;
}

.search {
  align-self: center;
  margin: 3px;
  border-radius: 3px;
  color: var(--main-darker-color);
  background-color: var(--main-color);
  white-space: nowrap;
}

.fa-crosshairs {
  align-self: center;
  font-size: 20px;
  color: var(--main-color);
}

.fa-crosshairs:hover {
  color: var(--main-darker-2-color);
}

.fa-arrow-circle-left {
  align-self: center;
  font-size: 20px;
  color: var(--main-color);
}

.fa-arrow-circle-left:hover {
  color: var(--main-darker-2-color);
}
