#navigation-side-left-toolbar {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--main-darker-2-color);
  color: var(--text-color);
  text-align: center;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: auto 30px;
}

.search {
  align-self: center;
  margin: 3px;
  border-radius: 3px;
  color: var(--main-darker-2-color);
  background-color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;

}

.fa {
  text-align: center;
  align-self: center;
  font-size: 20px;
  color: var(--main-color);
}

.fa:hover {
  color: var(--main-darker-3-color);
}
