<div class="container">
  <app-tag-selector *ngIf="displayType ==='select'"
                    [hideTagModelIDs]="hideTagModelIDs"
                    [(tagNameLikeString)]="tagNameLikeString"
                    (close)="onClose()"
                    (new)="onNew()"
                    (updateTagFileModel)="onUpdateTagFileModel($event)"
                    (selectTagFileModel)="onTagModelSelected($event)"></app-tag-selector>
  <app-tag-creator *ngIf="displayType === 'create'"
                   (close)="onClose()"
                   (createdTagFileModel)="onCreatedTagFileModel($event)"></app-tag-creator>
  <app-tag-updator *ngIf="displayType === 'update'"
                   [tagModel]="selectedTagModel"
                   (close)="onClose()"
                   (updatedTagFileModel)="onUpdatedTagFileModel($event)"></app-tag-updator>
</div>
