<div (click)="appendItems()">append item</div>
<div (click)="prependItems()">prepend item</div>
<ng-masonry-grid
  (onNgMasonryInit)="onNgMasonryInit($event)"
  [masonryOptions]="{ transitionDuration: '0.8s', gutter: 6, columnWidth: '.grid-sizer', percentPosition: true}"
  [useAnimation]="true"
  [useImagesLoaded]="false"
  [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 0.4, maxDuration : 0.7 }">
  <!-- Masonry Grid Item -->
  <div class="grid-sizer"></div>
  <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let item of masonryItems; let i = index;" (click)="removeItem($event)">
    <!-- Grid Content  -->
    <app-tedt></app-tedt>
  </ng-masonry-grid-item>
</ng-masonry-grid>
