#navigation-top {
  height: 50px;
  overflow: hidden;
}

#the-container {
  height: calc(100vh - 50px);
  display: flex;
}

#the-side-nav {
  transition: width 0.5s;
  float: left;
  width: 250px;
  height: 100%;
  overflow: hidden;

  border-right: 2px solid var(--main-darker-2-color);
}

#the-content {
  /*background-color: var(--main-darker-3-color);*/
  float: left;
  flex: 1; /* fit the rest of viewport */
  height: 100%;
  overflow: scroll;
}

#the-side-nav.close {
  width: 0;
  border-right: 0;
}
