<div id="navigation-top">
  <app-navigation-top></app-navigation-top>
</div>
<div id="the-container">
  <div id="the-side-nav" [className]="navigationSideLeftState">
    <app-navigation-side-left (onCloseNavigationSideLeft)="closeNavigationSideLeft($event)"></app-navigation-side-left>
  </div>
  <div id="the-content">
    <div id="fa-arrow-circle-right-container" [className]="navigationSideLeftButtonState" (click)="openNavigationSideLeft()">
      <i class="fa fa-arrow-circle-right"></i>
    </div>
    <router-outlet><!-- content here (some contains footer)--></router-outlet>
  </div>
</div>
