<div class="container">
  <div class="workspace">
    <button class="print-raw" (click)="consoleFileModelJSON()">
      <i class="fa fa-code" aria-hidden="true"></i>
      Console Log Raw
    </button>
    <button class="print-raw" (click)="onDoneEditing()">
      <i class="fa fa-floppy-o" aria-hidden="true"></i> save
    </button>
    <div class="metadata">
      <app-file-editor-metadata [(metadata)]="_fileModel.metadata"></app-file-editor-metadata>
    </div>
    <div class="data">
      <app-file-editor-data [(data)]="_fileModel.data"></app-file-editor-data>
    </div>
  </div>
  <div class="result">
    <app-file-page [(fileModel)]="_fileModel"></app-file-page>
  </div>
</div>
