.resizable {
  border: 1px solid var(--main-darker-color);
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.selected-tags {
  height: 100px;
  overflow: scroll;
  border-right: 1px solid var(--main-darker-color);
}

.unselected-tags {
  height: 100px;
  overflow: scroll;
}
