.container {
  border-bottom: 1px solid var(--main-darker-color);
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
}

.selected-tags {
  height: 100px;
  overflow: scroll;
  border-right: 1px solid var(--main-darker-color);
}

.unselected-tags {
  height: 100px;
  overflow: scroll;
}

.tag {
  display: inline-block;
  color: var(--main-lighter-color);
  background-color: var(--main-darker-color);
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 3px;
}

.tag:hover {
  cursor: pointer;
  background-color: var(--main-darker-2-color);
}
