.container {
  height: 100px;
}

.toolbar {
  height: 20px;
  overflow: hidden;
}

.content {
  height: calc(100% - 20px);
}

.tag {
  display: inline-block;
  color: var(--main-lighter-color);
  background-color: var(--main-darker-color);
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 3px;
}

.tag:hover {
  cursor: pointer;
  background-color: var(--main-darker-2-color);
}
