<div class="container">
  <div class="toolbar">
    <app-tag-creator-and-selector-toolbar (searchWithNewString)="searchWithNewString($event)"
                                          (closeButtonClicked)="onCloseComponent()"></app-tag-creator-and-selector-toolbar>
  </div>
  <div class="content">
    <app-tag-creator-and-selector-content [hideTagModelIDs]="hideTagModelIDs"
                                          [tagNameLikeString]="tagNameLikeString"
                                          (tagModelSelected)="onTagModelSelected($event)"></app-tag-creator-and-selector-content>
  </div>
</div>
