<div class="meta-data-container">
  <div class="views-created-updated">
    <span class="views">views {{views}}</span>
    <span class="created border-left">{{createdDateString}}</span>
    <span *ngIf="showUpdated" class="updated border-left">updated {{lastUpdatedDateString}}</span>
  </div>
  <div class="name dont-break-out">{{name}}</div>
  <div class="description dont-break-out">{{description}}</div>
  <div class="directory-tag-container">
    <div class="directory-container">
      <i class="fa fa-folder-open" aria-hidden="true"></i>
      <span *ngFor="let model of logDirectoryFileModels">
        · <a class="tag-or-directory" (click)="viewDirectoryInContent(model.id)">{{model.metadata.name}}</a>
      </span>
    </div>
    <div class="tag-container">
      <i class="fa fa-tags" aria-hidden="true"></i>
      <span *ngFor="let model of tagFileModels">
        · <a class="tag-or-directory" (click)="viewTagInContent(model.id)">{{model.metadata.name}}</a>
      </span>
    </div>
  </div>
</div>
