.text-toolbar {
  display: grid;
  grid-template-columns: auto auto auto auto 20px;
  text-align: center;
  color: var(--main-darker-2-color);
}

.fa-plus {
  font-size: 10px;
}

.text-toolbar > div:hover {
  cursor: pointer;
  background-color: var(--main-darker-color);
}

i:hover {
  cursor: pointer;
  color: var(--main-darker-3-color);
}
