body {
  margin: 0 !important;
  padding: 0 !important;
  color: var(--main-darker-3-color);
  background-color: var(--main-color);
}

:root {
  --main-lighter-color: white;
  --main-color: #e5e5e5;
  --main-light-dark-color: #e5e5e5;
  --main-darker-color: #cbcbcb;
  --main-darker-2-color: #898989;
  --main-darker-3-color: #585858;
  --highlight-color: #373737;
  --text-color: #373737;
  --text-light-color: #585858;
  --text-light-2-color: #898989;
  --text-light-3-color: #cbcbcb;
  --text-light-4-color: white;
  --selected-color: #0081bd;
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.workspace-textarea {
  width: 100%;
  min-height: 100px;
  border: none;
  padding-left: 5px;
  box-sizing: border-box;
  resize: none;
  margin-bottom: -4px;
}

/* https://stackoverflow.com/questions/880512/prevent-text-selection-after-double-click */
.no_selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
