body {
  margin: 0 !important;
  padding: 0 !important;
  color: var(--main-darker-3-color);
  background-color: var(--main-color);
}

:root {
  --main-lighter-color: white;
  --main-color: #e5e5e5;
  --main-light-dark-color: #e5e5e5;
  --main-darker-color: #cbcbcb;
  --main-darker-2-color: #898989;
  --main-darker-3-color: #585858;
  --highlight-color: #373737;
  --text-color: #373737;
  --text-light-color: #585858;
  --text-light-2-color: #898989;
  --text-light-3-color: #cbcbcb;
  --text-light-4-color: white;
}
