body {
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
}

:root {
  --main-color: white;
  --main-darker-color: #cbcbcb;
  --highlight-color: #373737;
  --text-color: #373737;
  --text-background-color: white; /* same as --main-color */
}
