<div class="selected-tags">
  <i class="fa fa-tags" aria-hidden="true" (click)="toggleTagSelector()"></i>
  <div class="tag no_selection" *ngFor="let selectedTagModel of logModel.tagModels; let i = index">
    {{selectedTagModel.metadata.name}}
    <i class="fa fa-times" aria-hidden="true" (click)="onTagModelUnSelect(i)"></i>
  </div>
</div>
<div *ngIf="showTagSelector" class="tag-select-container">
  <app-tag-widget (tagModelSelected)="onTagModelSelected($event)"
                  (close)="closeTagSelector()"
                  [hideTagModelIDs]="logModel.logOrganization.tagIDs"></app-tag-widget>
</div>
