<!-- Masonry Grid -->
<!-- https://www.npmjs.com/package/ng-masonry-grid -->
<!-- useImagesLoaded set to false bc order is not preserved -->
<ng-masonry-grid
  (onNgMasonryInit)="onNgMasonryInit($event)"
  [masonryOptions]="{ transitionDuration: '0.8s', gutter: 6, columnWidth: '.grid-sizer', percentPosition: true}"
  [useAnimation]="true"
  [useImagesLoaded]="true"
  [scrollAnimationOptions]="{ animationEffect: 'effect-1', minDuration : 4, maxDuration : 7 }">
  <!-- Masonry Grid Item -->
  <div class="grid-sizer"></div>
  <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let logModel of logModels; let i = index;">
    <!-- (click)="removeItem($event)"> -->
    <!-- Grid Content  -->
    <app-masonry-tile [logModel]="logModel"></app-masonry-tile>
  </ng-masonry-grid-item>
</ng-masonry-grid>

<div class="end" *ngIf="!moreLogsExist;">
  END
</div>
