<div class="container">
  <div class="log-data-type-toolbar">
    <div class="log-data-type-toolbar-name" (click)="toggle()">
      {{logContent.logContentType}}
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </div>
    <div>
      tile display<input type="checkbox" [ngModel]="logModel.logDisplayOverride.tile.logContentToDisplayIndex === index"
                         (change)="onChangeThisLogContentAsTileDisplay($event)">
    </div>
    <i class="fa fa-times" (click)="onDeleteThisLogContent()" aria-hidden="true"></i>
  </div>
  <div class="typed-log-data" [ngClass]="{'typed-log-data-collapse': collapse, 'typed-log-data-none': displayNone}">
    <app-log-editor-content-css [logContent]="logContent"></app-log-editor-content-css>
    <app-log-editor-content-image-internal *ngIf="logContent.logContentType === 'ImageInternalLogContent'"
                                           [imageInternalLogContent]="logContent.data"></app-log-editor-content-image-internal>
    <app-log-editor-content-image-quote *ngIf="logContent.logContentType === 'ImageQuoteLogContent'"
                                        [imageQuoteLogData]="logContent.data"></app-log-editor-content-image-quote>
    <app-log-editor-content-text-code *ngIf="logContent.logContentType === 'TextCodeLogContent'"
                                      [textCodeLogData]="logContent.data"></app-log-editor-content-text-code>
    <app-log-editor-content-text-markdown *ngIf="logContent.logContentType === 'TextMarkdownLogContent'"
                                          [textMarkdownLogData]="logContent.data"></app-log-editor-content-text-markdown>
    <app-log-editor-content-text-plain *ngIf="logContent.logContentType === 'TextPlainLogContent'"
                                       [textPlainLogData]="logContent.data"></app-log-editor-content-text-plain>
    <app-log-editor-content-text-quote *ngIf="logContent.logContentType === 'TextQuoteLogContent'"
                                       [textQuoteLogData]="logContent.data"></app-log-editor-content-text-quote>
    <app-log-editor-content-video-youtube *ngIf="logContent.logContentType === 'VideoYouTubeLogData'"
                                          [videoYoutubeLogData]="logContent.data"></app-log-editor-content-video-youtube>
    <app-log-editor-content-twitter-tweet *ngIf="logContent.logContentType === 'TwitterTweetLogContent'"
                                          [twitterTweetLogData]="logContent.data"></app-log-editor-content-twitter-tweet>
  </div>
</div>
