<div class="container">
  <div class="workspace">
    <div class="print-raw">
      <button (click)="consoleFileModelJSON()">Console Log Raw</button>
    </div>
    <div class="metadata">
      <app-file-create-metadata [(metadata)]="fileModel.metadata"></app-file-create-metadata>
    </div>
    <div class="data">
      <app-file-create-data [(data)]="fileModel.data"></app-file-create-data>
    </div>
  </div>
  <div class="result">
    <app-file-page [(fileModel)]="fileModel"></app-file-page>
  </div>
</div>
