.toolbar {
  display: flex;
  background-color: var(--main-darker-color);
  text-align: center;
}

.toolbar div {
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

.toolbar div:hover {
  cursor: pointer;
  background-color: var(--main-darker-2-color);
}
